* {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  color: rgb(254, 254, 255);
  font-size: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid:
    "header header header header" 50px
    "main main main main" 1fr
    "footer footer footer footer" 100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

body #weather {
  grid-area: header;
  margin-top: 20px;
}
body .main-contents {
  grid-area: main;
  text-align: center;
  font: inherit;
  font-size: min(28px, 4vw);
  /* height: 60vh; */
}

body .main-contents #login-form input {
  font-size: inherit;
  text-align: center;
  font-weight: bold;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}

body footer {
  grid-area: footer;
  text-align: center;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

/* .main-contents {
  margin: 0 auto;
} */

img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#clock {
  text-align: center;
  font-size: min(180px, 15vw);
}
